@import url('./xyz-theme.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
.h{
  color: #000;
  background-color: #CF4C2C,
    #EA9C41
    #EBC347
    #438D57
    #3F8AE2
    #803DEC
    #FF0000
    #549C30
}