.PhoneInputInput{
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  /* border-radius: 0px !important; */
  padding: 0px 4px !important;
  /* margin: 0px !important; */
  outline: none !important;
  font-size: 14px !important;
}
 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(92, 92, 92);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: rgb(92, 92, 92);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 30%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(92, 92, 92) transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


