html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

/* .dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
} */

/* .dndflow .dndnode.start {
  border-color: #e3ebef;
  background-color: #00e723;
}

.dndflow .dndnode.stop {
  border-color: #ff0000;
  background-color: #ff0000;
} */

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}
.react-flow {
  /* Custom Variables */
  --xy-theme-selected: #F57DBD;
  --xy-theme-hover: #C5C5C5;
  --xy-theme-edge-hover: black;
  --xy-theme-color-focus: #E8E8E8;

  /* Built-in Variables see https://reactflow.dev/learn/customization/theming */
  --xy-node-border-default: 1px solid #EDEDED;

  --xy-node-boxshadow-default:
    0px 3.54px 4.55px 0px #00000005,
    0px 3.54px 4.55px 0px #0000000D,
    0px 0.51px 1.01px 0px #0000001A;

  --xy-node-border-radius-default: 8px;

  --xy-handle-background-color-default: #ffffff;
  --xy-handle-border-color-default: #AAAAAA;

  --xy-edge-label-color-default: #505050;
}

.react-flow.dark {
  --xy-node-boxshadow-default:
    0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.05),
    /* light shadow */
    0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.13),
    /* medium shadow */
    0px 0.51px 1.01px 0px rgba(255, 255, 255, 0.2);
  /* smallest shadow */
  --xy-theme-color-focus: #535353;
}
.react-flow__node {
  box-shadow: var(--xy-node-boxshadow-default);
  border-radius: var(--xy-node-border-radius-default);
  background-color: var(--xy-node-background-color-default);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  flex-direction: column;
  border: var(--xy-node-border-default);
  color: var(--xy-node-color, var(--xy-node-color-default));
}


.start {
  background-color: #008000;
  text-align: center;
  padding: 4px;
  color: white;
  border-radius: 6px;
}

.stop {
  background-color: #ce2501;
  text-align: center;
    padding: 4px;
    color: white;
    border-radius: 6px;
}

.initialization {
  display: inline-flex;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.getDetails {
  display: inline-flex;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.decision {
  display: flex;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* aspect-ratio: 1 / 1; */
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.alternateProcess {
  display: inline-flex;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-radius: 16px;
}


.react-flow__node .react-flow__resizer {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize;
  width: 16px;
  height: 16px;
  background-color: #aaa;
  border-radius: 50%;
  z-index: 10;
}