/* src/styles/scrollbar.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thin::-webkit-scrollbar {
  width: 5px; /* Adjust the width for vertical scrollbars */
  height: 5px; /* Adjust the height for horizontal scrollbars */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* Adjust the color */
  border-radius: 10px; /* Adjust the border radius */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Adjust the background color */
}
